<%= image_tag @hex.image.url(:medium) %>

<p>
  <strong>Description:</strong>
  <%= @hex.description %>
</p>

<% if @hex.user == current_user %>
	<%= link_to 'Edit', edit_hex_path(@hex) %> |
<% end %>
<%= link_to 'Back', hexes_path %>
