<%= link_to 'Back', hexes_path %>

<div class="row">
	<div class="col-md-offset-5 col-md-2">
		<div class=" box panel panel-default">
			<div class="panel-heading colorBox" style="background-color: #<%=@hex.hexcode%>">
			</div>
			<div class="panel-body">
				<p><%= @hex.hexcode %></p>
				<% if @hex.user == current_user %>
				<%= link_to edit_hex_path(@hex) do %>
				<span class="glyphicon glyphicon-edit"></span>
				<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
